@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9f0f3;
  max-width: 100vw;
  min-height: 500vh;
  font-family: "Ubuntu", sans-serif;
}

#header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, 100px);
  grid-row-gap: 10px;
  place-items: center;
}

.brand,
.contact-links,
#nav-bar,
#nav-bar .nav-list,
.contact-item{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* company name or brand */
.section1 {
  display: flex;
  flex-direction: row;
}
.brand-logo img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 3px;
  margin-right: 8px;
}

.brand-title h3 {
  font-family: "Lobster", cursive;
  font-size: 2.8rem;
  font-weight: 700;
  color: #856d5afa;
}

.section2 {
  grid-column: 2/3;
}
.contact-links{
  width: 650px;
  height: 80px;
}
.contact-item{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}

.contact-item-detail{
  margin-left:6px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;

}
#address-info{
  width: 34%;
}
.contact-item-detail h4 {
  text-align: start;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #856d5afa;
}

.contact-item-detail p {
  font-weight: 500;
  font-size: 12px;
  color: #856d5afa;
  white-space: normal;
}
.section3 {
  grid-column: 1/4;
}

#nav-bar {
  background-color: azure;
  text-align: center;
  margin: 10px auto;
  height: 4rem;
  width: 85vw;
  justify-items: center;
  z-index: 20;
  box-shadow: 0px 2px 6px #856d5afa;
}

#nav-bar .nav-list {
  list-style: none;
  padding: 0;
}

#nav-bar .nav-items {
  padding: 2px 10px;
}

#nav-bar .nav-links {
  color: #856d5afa;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin: 0.6rem;
}

#nav-bar a:hover {
  color: #f38739;
  border-bottom: 1px solid #f38739;
  transition: border-bottom 200ms ease-in-out;
}

#nav-bar li:hover {
  transform: scale(1.035);
  transition: transform 200ms ease-in-out;
}

.search {
  border-bottom: 3px solid #856d5afa;
  margin: 5px 0px;
  height: 2rem;
  width: 12rem;
  position: relative;
}

.search input {
  background: url();
  width: 12rem;
  height: 2rem;
  border: none;
  outline: none;
  padding: 0px 8px;
  font-size: 1.075rem;
  position: relative;
  top: 0px;
  z-index: 10;
}

.search span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.075rem;
  font-family: sans-serif;
  color: #856d5afa;
  padding: 0px 6px;
}

.search input:hover + span {
  top: 0em;
}

.main-1 {
  height: 550px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: auto 1fr;
  place-items: center;
}
.main-1 .main-image{
  width: 100%;
  height: 590px;
  background-image: url(../images/jumbotron-img-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -2;
  top: 155px;
}

#icons{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 280px;
  width:65px;
  padding-left:10px;
  padding-right: 10px;
  background-color: #d9f0f3;
  border: 1px solid #d9f0f3;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  
}
#icons .iconsBtn{
  text-decoration: none;
  font-size: 20px;
  color: #d9f0f3;
  border: 3px solid #856d5afa;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;
}
#icons .iconsBtn::before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}  
#icons .iconsBtn::after{
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #856d5afa;
  box-sizing: border-box;
  z-index:0;
  transition: 0.3s;
} 
#icons .iconsBtn:hover::after{
  transform: scale(0.9);
  
} 
.main-1 .main-content {
  width: 70%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-content h1 {
  width: 100%;
  font-size: 48px;
  color:#cdb251;
  font-family: "Ubuntu", sans-serif;
}

.main-content .learnBtn {
  width: 20%;
  height: 50px;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 4px 4px 10px 8px rgba(93, 90, 90, 0.5);
  border: none;
  padding: 15px 30px;
  outline: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid red;
  border-image-source:linear-gradient(to right ,#f38739 ,#cdb251);
  border-image-width: 5;
  border-image-slice: 1;
  
}
.main-content .learnBtn:hover{
  background-color: #cdb251;
  transition: 0.7s;
}
/* .main-content button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  margin: -8px;
  border-radius: inherit;
  border-radius: 10%;
} */
.main-content button:hover{
  
  background-color: #cdb251;
  color: #d9f0f3;
}
.main-2 header {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 6em 0;
}
.sub-heading,
.course-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 45%;
}
.main-2 .hr {
  height: 8px;
  width: 200px;
  border: 1px solid transparent;
  background-color: #cdb251;
}
.hr-1 {
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}
.hr-2 {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.course-heading h2 {
  font-size: 68px;
  color: #856d5afa;
}
.course-heading .fa {
  text-align: center;
  width: 40px;
  font-size: 38px;
  color: #cdb251;
}
.course-heading .fa:hover {
  border-radius: 10%;
  border: 1px solid #d9f0f3;
  background-color: #856d5afa;
  color: #d9f0f3;
}
.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90vw;
  align-items: center;
  margin: 0 auto;
}
.course-card {
  background-color: #fff;
  /* flex: 0 1 420px; */
  width: 320px;
  height: fit-content;
  margin-right: auto;
  border-radius: 10px;
}
.course-card:hover {
  cursor: pointer;
  transform: scale(1.025);
  box-shadow: 6px 6px px rgba(93, 90, 90, 0.5);
  transition: all 0.2s ease-in-out;
}
.course-card .card-img{
  position: relative;
}
.course-card .card-img::before{
  content:"FREE";
  background:linear-gradient(45deg , #f38739,#ecad5b ,#cdb251);
  border-radius:50%;
  color: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing:1px;
  font-weight: bolder;
  position: absolute;
  bottom: 0px;
  top: 85%;
  right: 25px;
}
.course-card .card-img::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.course-card img {
  object-fit: cover;
  width: 100%;
  height: 210px;
  border-radius: 10px 10px 0px 0px;
}

.course-card .card-content {
  margin: 25px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.course-description + hr {
  opacity: 0.6;
  width: 80%;
}
.course-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.course-title h3{
  font-size: 22px;
  font-weight: bold;
  color: #856d5afa;

}
.course-detail p,
.course-detail h4,
.course-description p {
  font-weight: normal;
  font-size: 15px;
  color: #856d5afa;
  word-spacing: 3px;
  white-space: normal;
  line-height: 1.4;
  text-align: start;
  
}
.course-detail .course-instructor {
  position: relative;
  left: 50px;
}
.course-detail .course-instructor::before {
  content: "";
  background-color: #856d5afa;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  left: -52px;
}
.course-ratings i {
  color: #cdb251;
  font-size: 14px;
  text-align: center;
}
.course-ratings i:nth-of-type(5) {
  color: #856d5afa;
}
/*# sourceMappingURL=style.css.map */
